body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #71c2f4;
}

header {
    background-color: #4d4c4c;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}
